<table>
  <thead>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Phone</td>
    <td>Email</td>
    <td></td>
    <td></td>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts | async">
      <td>{{ contact.fname }}</td>
      <td>{{ contact.lname }}</td>
      <td>{{ contact.phone }}</td>
      <td>{{ contact.email }}</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </tbody>
</table>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="fname" placeholder="First name">
  <input type="text" formControlName="lname" placeholder="Last name">
  <input type="text" formControlName="phone" placeholder="Phone Number (optional)">
  <input type="text" formControlName="email" placeholder="Email (optional)">
  <button id="submitContact">Add Contact</button>
</form>